---
import Title from "./common/title.astro";
import proOne from "../assets/f1.jpeg"
import proTwo from "../assets/f2.jpeg"
import proThree from "../assets/f3.png"
import proFour from "../assets/f4.png"
import proFive from "../assets/f5.jpeg"
import proSix from "../assets/f6.jpeg"
import proSeven from "../assets/f7.jpeg"
import proEight from "../assets/f8.jpeg"
---
<script>
  import { Grid } from '@splidejs/splide-extension-grid';
    const splide = new Splide( document.getElementById("focus"), {
  type       : 'loop',
  height     : '14rem',
  perPage    : 2,
  perMove    : 1,
  gap:6,
  arrows:false,
  grid       : {
    // You can define rows/cols instead of dimensions.
    dimensions: [ [ 1, 1 ], [ 2, 2 ], [ 2, 1 ], [ 1, 2 ], [ 2, 2 ], [ 3, 2 ] ],
    gap: {
      row: '6px',
      col: '6px',
    },
  },
  breakpoints: {
    640: {
      height : '8rem',
      perPage: 1,
      grid   : {
        dimensions: [ [ 2, 2 ], [ 1, 1 ], [ 2, 1 ], [ 1, 2 ], [ 2, 2 ] ],
      },
    },
  },
} );

splide.mount( { Grid } );
</script>
<div class="bg-[#F5F5F5] md:py-20 py-8 my-10 md:px-20 px-8">
    <Title title1="Product" title2="Details" letter="p"/>
    <section class="splide mt-10" aria-labelledby="carousel-heading" id="focus">
	   <div class="splide__track">
		   <ul class="splide__list">
			   <li class="splide__slide bg-white flex justify-center items-center">
			   <img class="object-contain	w-full h-full	" src={proOne}/>
			   </li>
			   <li class="splide__slide bg-white flex justify-center items-center">
			   <img class="object-contain	w-full h-full	" src={proTwo}/>
			   </li>
			   <li class="splide__slide bg-white flex justify-center items-center">
			   <img class="object-contain	w-full h-full	" src={proThree}/>
			   </li>
			   <li class="splide__slide bg-white flex justify-center items-center">
			   <img class="object-contain	w-full h-full	" src={proFour}/>
			   </li>
         <li class="splide__slide bg-white flex justify-center items-center">
			   <img class="object-contain	w-full h-full	" src={proFive}/>
			   </li>
      
			</ul>
	   </div>
   </section>
</div>