---
import Product from "./common/product.astro";
import productOne from "../assets/pro1.png";
import productTwo from "../assets/pro2.png";
import productThree from "../assets/pro3.png";
import productFour from "../assets/pro4.png";
import productFive from "../assets/pro5.png";
import productSix from "../assets/pro6.png";
import productSeven from "../assets/pro7.png";
import productEight from "../assets/pro8.png";
import Title from "./common/title.astro";

---
<script>
	var splide = new Splide('.splide', {
	 	type   : 'loop',
		perPage: 4,
		speed:1000,
		perMove: 1,
		autoplay:true,
		drag:'free',
		arrows:false,
		pagination:false,
		breakpoints: {
			992:{
				perPage: 3,
			},
			640: {
			perPage: 2,
			},
			480: {
			perPage: 1,
			},
		}
		});
	splide.mount();

</script>

<div class="mt-20 px-10">
	<div class="text-center">
		<Title title1="product" title2="CATEGORIES" letter="p"/>
	</div>
	<section class="splide mt-10" aria-labelledby="carousel-heading">
	   <div class="splide__track">
		   <ul class="splide__list">
			   <li class="splide__slide">
			   <Product  img={productOne}/>
			   </li>
			   <li class="splide__slide">
				   <Product  img={productTwo}/>
			   </li>
			   <li class="splide__slide"><Product  img={productThree}/></li>
		     <li class="splide__slide">

			   <Product  img={productFour}/>
			   </li>
		     <li class="splide__slide">
			   <Product  img={productFive}/>
			   </li>
		     <li class="splide__slide">
			   <Product  img={productSix}/>
			   </li>
		     <li class="splide__slide">
			   <Product img={productSeven}/>
			   </li>
		     <li class="splide__slide">
			   <Product  img={productEight}/>
			   </li>
			</ul>
	   </div>
   </section>

</div>